.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 420px;

  transition: 0.3s;

  color: white;
}
.card_description {
  color: #bbb;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.card_title {
  color: #d00000;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}
.card_image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;

  border: 3px solid #a40000;
}

.card__button,
.card__delete {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  display: row;
  gap: 20px;
  transition: 0.2s;
}

.card__button {
  background-color: #050505;
  color: red;
}

.card__delete {
  background-color: #040404;
  color: white;
}

.card_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  gap: 20px;
}
