header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080808;
  padding: 15px 40px;
  border-bottom: 2px solid #a40000;
}

.header_logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
