@import url(../vendor/necolas-normalize.css-be14934/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/top.css);
@import url(../blocks/popup.css);
@import url(../blocks/form.css);
@import url(../blocks/card.css);
@import url(../blocks/card_container.css);

body {
  margin: 0;
  background: linear-gradient(135deg, #050505, #141414, #300000);
  color: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
.footer {
  margin-top: 40px;
  padding: 20px;

  text-align: center;

  background-color: #080808;
  color: #bbb;

  border-top: 2px solid #a40000;
}

.footer p {
  margin: 5px 0;
}

.footer p:first-child {
  color: #d00000;
  font-weight: bold;
}

.footer h3 {
  color: #d00000;
  text-shadow: 0 0 8px rgba(208, 0, 0, 0.7);
  letter-spacing: 3px;
}
